div.chat-buttons-overlay-container {
  position: fixed;
  bottom: 20px;
  right: 10px;
  margin: 0;
  padding: 0;
}

a.order-button-cta {
  font-size: 25px;
  font-family: Helvetica, sans-serif;
  color: black;
  background-color: #E9499A;
  padding: 10px;
  border-radius: 40px;
  text-decoration: none;
  box-shadow: 2px 5px 16px 0px #244b24, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

span > a.order-button-cta > i {
  font-size: 50px;
  color: black;
  font-weight: bold;
}
